---
// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-1/2 lg:w-1/3">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty leading-tight text-neutral-600 dark:text-neutral-400">
          {subTitle}
        </p>
      )
    }
  </div>
  <div
    class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-24"
  >
    <!-- Clients Group SVGs -->
    <!-- First -->
    <svg fill="#6B7280" height="100px" width="100px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
       viewBox="0 0 463 463" xml:space="preserve">
    <g>
      <path d="M87.5,343h288c4.142,0,7.5-3.358,7.5-7.5v-264c0-4.142-3.358-7.5-7.5-7.5h-288c-4.142,0-7.5,3.358-7.5,7.5v264
        C80,339.642,83.358,343,87.5,343z M271.5,272h-80H167v-17h129v17H271.5z M199,287h65v9h-65V287z M187.25,311h4.25h80h4.25l12.75,17
        h-114L187.25,311z M307.25,328l-21.75-29c-1.417-1.889-3.639-3-6-3H279v-9h24.5c4.142,0,7.5-3.358,7.5-7.5v-32
        c0-4.142-3.358-7.5-7.5-7.5h-144c-4.142,0-7.5,3.358-7.5,7.5v32c0,4.142,3.358,7.5,7.5,7.5H184v9h-0.5c-2.361,0-4.583,1.111-6,3
        l-21.75,29H95V111h129v33h-24.5c-4.142,0-7.5,3.358-7.5,7.5v24c0,2.841,1.605,5.438,4.146,6.708L224,196.135V207.5
        c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-11.365l27.854-13.927c2.541-1.27,4.146-3.867,4.146-6.708v-24
        c0-4.142-3.358-7.5-7.5-7.5H239v-33h129v217H307.25z M231.5,183.115l-24.5-12.25V159h49v11.865L231.5,183.115z M368,79v17H95V79
        H368z"/>
      <path d="M103.5,47h16c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-16c-4.142,0-7.5,3.358-7.5,7.5S99.358,47,103.5,47z"/>
      <path d="M151.5,47h16c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-16c-4.142,0-7.5,3.358-7.5,7.5S147.358,47,151.5,47z"/>
      <path d="M199.5,47h16c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-16c-4.142,0-7.5,3.358-7.5,7.5S195.358,47,199.5,47z"/>
      <path d="M247.5,47h16c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-16c-4.142,0-7.5,3.358-7.5,7.5S243.358,47,247.5,47z"/>
      <path d="M295.5,47h16c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-16c-4.142,0-7.5,3.358-7.5,7.5S291.358,47,295.5,47z"/>
      <path d="M343.5,47h16c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-16c-4.142,0-7.5,3.358-7.5,7.5S339.358,47,343.5,47z"/>
      <path d="M415,361.234V23.5C415,10.542,404.458,0,391.5,0h-320C58.542,0,48,10.542,48,23.5v337.734c-9.29,3.138-16,11.93-16,22.266
        v56c0,12.958,10.542,23.5,23.5,23.5h352c12.958,0,23.5-10.542,23.5-23.5v-56C431,373.164,424.29,364.372,415,361.234z M71.5,15h320
        c4.687,0,8.5,3.813,8.5,8.5V360H63V23.5C63,18.813,66.813,15,71.5,15z M416,439.5c0,4.687-3.813,8.5-8.5,8.5h-352
        c-4.687,0-8.5-3.813-8.5-8.5v-56c0-4.687,3.813-8.5,8.5-8.5h352c4.687,0,8.5,3.813,8.5,8.5V439.5z"/>
      <path d="M87.5,416h-16c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h16c4.142,0,7.5-3.358,7.5-7.5S91.642,416,87.5,416z"/>
      <path d="M135.5,416h-16c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h16c4.142,0,7.5-3.358,7.5-7.5S139.642,416,135.5,416z"/>
      <path d="M87.5,392h-16c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h16c4.142,0,7.5-3.358,7.5-7.5S91.642,392,87.5,392z"/>
      <path d="M135.5,392h-16c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h16c4.142,0,7.5-3.358,7.5-7.5S139.642,392,135.5,392z"/>
      <path d="M391.5,416h-24c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h24c4.142,0,7.5-3.358,7.5-7.5S395.642,416,391.5,416z"/>
      <path d="M231.5,416h-64c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h64c4.142,0,7.5-3.358,7.5-7.5S235.642,416,231.5,416z"/>
      <path d="M231.5,392h-64c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h64c4.142,0,7.5-3.358,7.5-7.5S235.642,392,231.5,392z"/>
      <path d="M271.5,416h-8c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h8c4.142,0,7.5-3.358,7.5-7.5S275.642,416,271.5,416z"/>
      <path d="M303.5,416h-8c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h8c4.142,0,7.5-3.358,7.5-7.5S307.642,416,303.5,416z"/>
      <path d="M335.5,416h-8c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h8c4.142,0,7.5-3.358,7.5-7.5S339.642,416,335.5,416z"/>
      <path d="M391.5,392h-24c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h24c4.142,0,7.5-3.358,7.5-7.5S395.642,392,391.5,392z"/>
      <path d="M271.5,392h-8c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h8c4.142,0,7.5-3.358,7.5-7.5S275.642,392,271.5,392z"/>
      <path d="M303.5,392h-8c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h8c4.142,0,7.5-3.358,7.5-7.5S307.642,392,303.5,392z"/>
      <path d="M335.5,392h-8c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5h8c4.142,0,7.5-3.358,7.5-7.5S339.642,392,335.5,392z"/>
    </g>
    </svg>
    <!-- Second -->
    <svg fill="#6B7280" height="100px" width="100px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
      viewBox="0 0 452.022 452.022" xml:space="preserve">
    <path d="M440.761,380.351l-50.512-50.512l24.481-24.481c3.905-3.905,3.905-10.237,0-14.143c-3.905-3.904-10.237-3.904-14.143,0
      l-9.494,9.494l-42.368-42.368c6.562-23.401,9.894-47.59,9.894-72l-0.001-153.69c0-4.777-3.379-8.887-8.065-9.811
      c-113.629-22.402-228.859-22.402-342.488,0C3.379,23.764,0,27.875,0,32.652v153.69c0,55.105,16.721,108.08,48.356,153.2
      c31.635,45.119,75.739,78.897,127.545,97.681c1.101,0.399,2.255,0.599,3.409,0.599c1.154,0,2.308-0.2,3.41-0.599
      c40.392-14.651,76.722-38.923,105.694-70.5l18.334,18.334l-9.494,9.494c-3.905,3.905-3.905,10.237,0,14.143
      c1.953,1.953,4.512,2.929,7.071,2.929c2.559,0,5.119-0.977,7.071-2.929l24.481-24.481l50.512,50.512
      c7.262,7.261,16.917,11.26,27.187,11.26s19.924-3.999,27.186-11.26c7.262-7.262,11.261-16.917,11.261-27.186
      C452.022,397.268,448.023,387.613,440.761,380.351z M359.946,331.858l-3.954,3.954L162.901,142.72l45.434,3.515l168.616,168.617
      L359.946,331.858z M303.621,186.342c0,8.507-0.522,16.987-1.523,25.371l-82.234-82.234c-1.687-1.687-3.921-2.715-6.3-2.899
      l-76.09-5.886c-2.916-0.229-5.777,0.833-7.842,2.899c-2.065,2.065-3.124,4.93-2.899,7.842l5.886,76.09
      c0.184,2.379,1.212,4.613,2.899,6.3L249.48,327.788c-19.637,21.998-43.181,39.294-70.167,51.487
      c-34.45-15.596-64.093-40.179-85.924-71.304C68.275,272.143,55,230.084,55,186.342l0-110.473c82.527-15.788,166.093-15.788,248.62,0
      V186.342z M179.309,417.156c-46.45-17.606-86.009-48.352-114.577-89.097C35.468,286.322,20,237.317,20,186.342l0-145.43
      c105.764-19.83,212.856-19.83,318.62,0v145.43c0,18.764-2.131,37.386-6.331,55.563l-12.648-12.648
      c2.637-14.044,3.979-28.452,3.979-42.915l-0.001-118.69c0-4.753-3.346-8.849-8.003-9.798c-90.445-18.438-182.167-18.438-272.614,0
      C38.345,58.802,35,62.899,35,67.652v118.69c0,47.872,14.527,93.9,42.013,133.112c24.797,35.354,58.809,62.997,98.359,79.939
      c1.257,0.539,2.597,0.808,3.938,0.808c1.34,0,2.68-0.269,3.937-0.808c31.01-13.282,57.997-32.593,80.394-57.444l10.618,10.618
      C248.179,381.194,215.58,403.39,179.309,417.156z M152.273,202.297l-3.514-45.434l193.091,193.091l-20.96,20.959L152.273,202.297z
      M376.107,343.981l6.336,6.336l-15.345,36.829l-17.078-17.078L376.107,343.981z M382.392,402.44l15.345-36.829l11.178,11.178
      l-15.345,36.829L382.392,402.44z M426.619,420.58L426.619,420.58c-3.483,3.484-8.116,5.403-13.043,5.403
      c-1.141,0-2.262-0.114-3.361-0.315l13.994-33.585l2.41,2.41c3.484,3.484,5.403,8.116,5.403,13.043S430.103,417.096,426.619,420.58z"
      />
    </svg>
    <!-- Third -->
    <svg fill="#6B7280" height="100px" width="100px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
       viewBox="0 0 193.658 193.658" xml:space="preserve">
    <path d="M96.829,193.658C43.438,193.658,0,150.22,0,96.829S43.438,0,96.829,0s96.828,43.437,96.828,96.829
      S150.221,193.658,96.829,193.658z M4.384,105.308c4.297,47.227,44.118,84.35,92.445,84.35s88.147-37.123,92.444-84.35h-62.802
      c-3.692,12.89-15.583,22.35-29.643,22.35s-25.951-9.46-29.644-22.35H4.384z M70.629,91.039C70.217,92.904,70,94.841,70,96.829
      c0,14.793,12.035,26.829,26.829,26.829c14.793,0,26.828-12.036,26.828-26.829S111.622,70,96.829,70
      c-12.634,0-23.256,8.778-26.089,20.556C70.724,90.724,70.686,90.886,70.629,91.039z M127.333,101.308h62.218
      c0.07-1.485,0.106-2.977,0.106-4.479s-0.036-2.994-0.106-4.479h-62.218c0.214,1.462,0.324,2.958,0.324,4.479
      S127.547,99.845,127.333,101.308z M4.107,101.308h62.218C66.111,99.845,66,98.35,66,96.829s0.11-3.017,0.324-4.479H4.107
      C4.036,93.835,4,95.326,4,96.829S4.036,99.823,4.107,101.308z M126.472,88.35h62.802C184.977,41.123,145.156,4,96.829,4
      S8.681,41.123,4.384,88.35h7.03c2.048-20.872,11.643-40.184,27.115-54.511C54.435,19.111,75.14,11,96.829,11c1.104,0,2,0.896,2,2
      s-0.896,2-2,2c-41.712,0-77.133,32.081-81.395,73.35h51.751C70.878,75.46,82.77,66,96.829,66S122.781,75.46,126.472,88.35z
       M96.829,112.446c-8.611,0-15.617-7.006-15.617-15.617c0-8.611,7.006-15.617,15.617-15.617s15.617,7.006,15.617,15.617
      C112.447,105.44,105.441,112.446,96.829,112.446z M96.829,85.212c-6.405,0-11.617,5.211-11.617,11.617
      c0,6.406,5.212,11.617,11.617,11.617s11.617-5.211,11.617-11.617C108.447,90.423,103.235,85.212,96.829,85.212z"/>
    </svg>
    <!-- Fourth -->
    <svg fill="#6B7280" id="hero"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1176.08 1176.18" height="130px">
      <path
        d="0,1161.4.26c10.32,0,12.68-2.35,12.68-12.67q-.46-580.53-.26-1161.08c.63.45,2.15-1,2.08,1-.09,2.74,0,5.49,0,8.24q0,578.5.19,1157c0,7.72-1.74,9.46-9.46,9.45q-578.67-.33-1157.35-.32C141.44,1281.3,137.47,1283.68,135.19,1279.37Z" transform="translate(-135.19 -105.78)"/><path class="cls-2" d="M494.12,853.33c-1-5.25,3.78-6.93,6.43-9.62q91.09-92,182.39-183.72c1.4-1.41,2.61-3,5.3-6.15H555.14c-.37-.93-.73-1.86-1.09-2.79L1049.4,257.74l2.4,2.31L830,531.77h118.5l1.23,2.4L756.51,728.46l1.16,2.49H888.91l1.17,2.82L388.83,1131.19l-1.56-1.58q19.28-23.56,38.55-47.11,91.15-111,182.31-222.08a11.51,11.51,0,0,0,1.22-2.79c-1.23-5.94-6-3.24-9.07-3.26-32-.22-64.08-.11-96.12-.18C500.82,854.19,497.34,855,494.12,853.33Z" transform="translate(-135.19 -105.78)"/><path class="cls-2" d="M406,691.24C407.25,787.88,443.64,868.51,517,932c7.25,6.28,7.36,10.11,1.26,16.92-9.58,10.68-18.43,22-27.11,33.5-4.1,5.41-6.82,5.52-12.1,1Q388.6,907,356.53,793.11c-18-64.45-18.83-129.53-1.93-194,24.43-93.24,75.82-168.42,157-221.8,73.1-48.06,153.13-69.82,240.85-62.23,48.31,4.18,94.22,16.32,137.64,37.87,10.24,5.08,10.26,5.19,1.77,12.23-13.42,11.12-27,22.08-40.33,33.31-4,3.39-7.39,4.5-12.83,2.32-51.27-20.51-104.19-27.39-159.11-19.62-109.29,15.47-189.43,72.54-241.06,169.35C415.27,594.16,404.75,641.43,406,691.24Z" transform="translate(-135.19 -105.78)"/><path class="cls-2" d="M543.19,1026.26c17.7-14.42,34.17-27.7,50.46-41.21,3.41-2.83,6.18-1.48,9.44-.21,42.33,16.42,86,24.78,131.59,22.79q103.41-4.51,184.17-69c50.77-40.4,86-91.69,104.62-153.63,36.53-121.56,1.16-248.17-97-333.08-7.1-6.14-7.05-9.42-1.15-15.85,9.91-10.81,19.16-22.28,28.21-33.85,3.7-4.74,5.94-4.7,10.51-.88,56.61,47.34,96,106.1,118.85,176.26,17.06,52.36,22.56,105.94,15.56,160.24C1088,819.1,1055,890.47,998.73,950.68c-47.1,50.43-103.75,85.65-169.81,105.15-53.32,15.74-107.78,18.72-162.87,11.17C623.2,1061.13,583.19,1046.93,543.19,1026.26Z"
        transform="translate(-135.19 -105.78)"/>
    </svg>
  </div>
</section>
