---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import HeroSectionFooter from "@components/sections/landing/HeroSectionFooter.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import featureImage from "@images/features-image.avif";
import welcomeImage from "@images/welcome-image.avif";
import dashboard from "@images/dashboard-image.avif";
---
<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="RSVP Today and get an extra giveaway raffle ticket!"
    url="https://forms.gle/cwNivMCVRu7Hq72A8"
  />

  <HeroSection
    title=`Let's Get Together and <span
        class="text-yellow-500 dark:text-yellow-400">Nerd It Up</span>`
    subTitle="Join us for a family friendly community event dedicated to the nerd in you..."
    primaryBtn="RSVP"
    primaryBtnURL="https://forms.gle/cwNivMCVRu7Hq72A8"
    secondaryBtn="Check out the F.A.Q's"
    secondaryBtnURL="#faq"
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Nerd Fest + Expo Welcome Banner"
  />

  <HeroSectionFooter
    title="Nerdy Family Fun"
    subTitle="3D Printing | Tabletop RPGs | Trading Card Games | Comics | Expert Presentations"
  />

  <FeaturesGeneral
    title="Meet the Community"
    subTitle="Far reaching experts, enthusiasts, and attendees will meet together with their families. There will be speakers, displays, live 3d printing, and various other activities for all ages. We are also holding a raffle for everyone and anyone who attends.  The entire event is FREE!"
    features={features}
  />

  <FeaturesNavs
    title=`Attend as much or as little as you'd like. <span class="text-yellow-500 dark:text-yellow-400">Bring friends and family!</span> We'll have more than enough to cover you.`
    tabs={[
      {
        heading: "Did we mention that this a free event?",
        content:
          "This event has no cost, and has no infomercials of any kind. We intend to have a great time and hope you'll join us!",
        svg: "chatBubble",
        src: featureImage,
        alt: "Big Megaphone comically announcing this is a free event.",
        first: true,
      },
      {
        heading: "Not Nerdy Enough?",
        content:
          "The event is still growing and we're combining with even more groups to provide more.  The Nerdness presented here is just a sample of what's to come.  Come and see what else we have to offer!",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Our Hosts",
        content:
          "We are being hosted by Valley Ranch Ward of The Church of Jesus Christ of Latter-Day Saints.  We intend on having around 200+ participants from all around the community.  We appreciate your cooperation in maintaining a welcoming and peaceful atmosphere for everyone.",
        svg: "house",
        src: welcomeImage,
        alt: "Everyone is Welcome",
      },
    ]}
  />
  <FAQ title="Frequently<br />asked questions" faqs={faqs} />
  <HeroSectionAlt
    title="Let's Nerd Together"
    subTitle='A Wise wizard once said, "It is Dangerous to Nerd Alone!  Take this Expo." ...basically.'
  />
</MainLayout>
