---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import heroImage from "@images/hero-image.avif";
import heroImage2 from "@images/hero-image2.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import featureImage from "@images/features-image.avif";
import welcomeImage from "@images/welcome-image.avif";
const heroImages = [heroImage, heroImage2];
---

<MainLayout>
  <HeroSection
    title=`Nerds <span
        class="text-yellow-500 dark:text-yellow-400">Assemble!</span>`
    subTitle="3D Printing | Tabletop RPGs | Trading Card Games | & More!"
    primaryBtn={{
      title: "RSVP",
      url: "https://local.churchofjesuschrist.org/en/units/us/tx/valley-ranch-ward/events/nerd-fest-expo",
      openInNewTab: true,
    }}
    secondaryBtn={{ title: "FAQ", url: "#faq" }}
    src={heroImages}
    alt="Nerd Fest + Expo Welcome Banner"
  />

  <FeaturesGeneral
    title="Event Activities"
    subTitle="Attend to make new friends and enjoy these free and family-friendly activities."
    features={features}
  />

  <FeaturesNavs
    title=`Attend as much or as little as you'd like. <span class="text-yellow-500 dark:text-yellow-400">Bring friends and family!</span>.`
    tabs={[
      {
        heading: "Did we mention that this a free event?",
        content:
          "This event is free to the community, thanks to our generous hosts and volunteers.",
        svg: "chatBubble",
        src: featureImage,
        alt: "Big Megaphone comically announcing this is a free event.",
        first: true,
      },
      {
        heading: "Our Hosts",
        content:
          "We are being hosted by Valley Ranch Ward of The Church of Jesus Christ of Latter-Day Saints.  We intend on having around 200+ participants from all around the community.  We appreciate your cooperation in maintaining a welcoming and peaceful atmosphere for everyone.",
        svg: "house",
        src: welcomeImage,
        alt: "Everyone is Welcome",
      },
    ]}
  />
  <FAQ title="Frequently<br />asked questions" items={faqs} />
  <HeroSectionAlt
    title="Let's Nerd Together"
    subTitle='A Wise wizard once said, "It is Dangerous to Nerd Alone!  Take this Expo." ...basically.'
  />
</MainLayout>
