<div class="row">
  <div class="logo">
    <span>NERD FEST <span style="color: rgb(229, 229, 229);">+</span> EXPO</span> 
  </div>
  <div class="contact-info">
    <a href="/event.ics" download="Event_at_3644_Talley_Rd.ics">Saturday, February 1st, 1:00 - 5:00 PM</a> | <a href="https://www.google.com/maps/dir/?api=1&destination=3644+Talley+Rd,+San+Antonio,+TX" target="_blank">3644 Talley Rd., San Antonio, TX</a>
  </div>
</div>

<style>
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% 
  }
  .logo > span {
    font-size: 1.75rem;
    color: rgb(250, 204, 21);
    line-height: 1.2; /* Adjusts the space between lines */
  }
  .contact-info {
    text-align: right;
    font-size: 1.75rem;
    color: rgb(229, 229, 229);
    line-height: 1.2; /* Adjusts the space between lines */
  }
</style>