<div class="row flex flex-wrap">
  <div class="logo flex flex-wrap text-white dark:text mr-4">
    <div class="logo flex flex-wrap text-white dark:text-yellow-400">
      <span class="ml-1">NERD FEST</span>
      <span><span class="text-black dark:text-yellow-50">+</span> EXPO</span> 
    </div>
  </div>
  <div class="contact-info flex flex-wrap">
    <span class="mr-4"><a href="/event.ics" download="Event_at_3644_Talley_Rd.ics">Saturday, February 1, <span class="whitespace-nowrap">1:00 - 5:00PM</span></a></span>
    <span class="whitespace-nowrap text-orange-400"><a href="https://www.google.com/maps/dir/?api=1&destination=3644+Talley+Rd,+San+Antonio,+TX" target="_blank">3644 Talley Rd</a></span>
  </div>
</div>

<style>
  .row {
    width: 100% 
  }
  .logo > span {
    font-size: 1.75rem;
    color: rgb(250, 204, 21);
    line-height: 1.2; /* Adjusts the space between lines */
  }
  .contact-info {
    text-align: right;
    font-size: 1.75rem;
    color: rgb(229, 229, 229);
    line-height: 1.2; /* Adjusts the space between lines */
  }
</style>