---
//Import relevant dependencies
import enStrings from "@utils/navigation.ts";

// Select the correct translation based on the page's lang prop:
const strings = enStrings;
const homeUrl = "/";
---

<!-- Main header component -->
<header
  class="sticky inset-x-0 top-0 z-50 flex w-full flex-wrap text-sm md:flex-nowrap md:justify-start"
>
  <!-- Navigation container -->
  <nav aria-label="Global">
    <div class="row">
      <div class="logo">
        <span>NERD FEST <span class="highlighted">+</span> EXPO</span> 
      </div>
      <div class="contact-info">
        <a href="/event.ics" download="Event_at_3644_Talley_Rd.ics">Saturday, February 1st, 1:00 - 5:00 PM</a> | <a href="https://www.google.com/maps/dir/?api=1&destination=3644+Talley+Rd,+San+Antonio,+TX" target="_blank">3644 Talley Rd., San Antonio, TX</a>
      </div>
    </div>
  </nav>
</header>

<style>
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100% 
    }

    nav {
      width: 100%;
      padding: 1rem;
    }

    @media (prefers-color-scheme: dark) {
      .logo > span {
        font-size: 1.25rem;
        color: rgb(250, 204, 21);
        line-height: 1.2; /* Adjusts the space between lines */
      }
      .contact-info {
        text-align: right;
        font-size: 1.25rem;
        color: rgb(229, 229, 229);
        line-height: 1.2; /* Adjusts the space between lines */
      }
      .highlighted {
        color: rgb(229, 229, 229);
      }
    }
    @media (prefers-color-scheme: light) {
      nav {
        background-color: rgba(225, 77, 11, 1);
      }
      .logo > span {
        font-size: 1.25rem;
        color: rgb(250, 250, 250);
        line-height: 1.2; /* Adjusts the space between lines */
      }
      .contact-info {
        text-align: right;
        font-size: 1.25rem;
        color: rgb(38, 38, 38);
        line-height: 1.2; /* Adjusts the space between lines */
      }
      .highlighted {
        color: rgb(250, 204, 21);
      }
    }
</style>
